.outline{
    text-align: center;
    color: white  ;
    width: 112px;
    height: 53px;
    padding: 10px;
    background-color: #F27830;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    padding: 17px 32px 17px 32px;
}