.day{
    color: rgba(66, 70, 89, 1);
    font-size: 16px;
    font-weight: 600;
}
.day_inp{
    width: 300px;
    border: 1px solid rgba(242, 119, 48, 0.712);
    border-radius: 5px;
    outline: none;
    padding: 17px 10px 17px 10px;
    
}