.nav_side_bar {
    display: flex;
}
.nav_avatar{
    width: 50px;
    height: 50px;
    object-fit: fill;
}
.navbar {
    border: none;
    z-index: 2;
    box-shadow: 1px 2px 1px 0 rgb(112, 112, 112);
    padding-left: 50px;
    width: auto;
    height: 97px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oth_menu {
    font-size: 14px;
    font-weight: 600;
}

.alergic_alert {
    font-size: 14px;
    font-weight: 600;
}

.allergic_alert {
    display: flex;
    align-items: center;
    width: 200px;
    height: 24px;
    gap: 20px;
}

.profil_connected {
    display: flex;
    align-items: center;
    width: 219px;
    height: 77px;
    gap: 10px;
}

.username_profil {
    font-size: 14px;
    font-weight: 600;
}

.admin_side {
    background-color: white;
    width: 300px;
    height: 986px;
    padding: 0 0 0 20px;
}

.admin_menu {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.menu_admin {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main_menu_admin {
    font-size: 18px;
    font-weight: 600;
}

.main_admin {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user_managment_filter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user_managment_title {
        font-size: 30px;
        font-weight: 600;
    }

    .adding_user {
        color: white;
        width: 127px;
        height: 44px;
        padding: 10px;
        gap: 10px;
        border-radius: 10px;
        background-color: #F27830;
        border: none;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .adding_user::before{
        content: url(src/img/add_user.png);
    }
    .user_managment_search_filter{
        display: flex;
        align-items: center;
        width: 600px;
        justify-content: space-around;

        .list_view{
            display: flex;
            gap: 40px;
        }
    }
}
.admin_container{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
.all_user_managment{
    margin-left: 50px;
}
.user_card_map{
    list-style-type: none;
}
.all_users_render{
    display: flex;
    gap: 15px;
}